@import './button.css';
@import './main.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

* {
  box-sizing: border-box;
}

html, body, .main, .game {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#game-container-indigo {
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 10px); */
  margin: 0;
}

.main {
  position: relative;
}

.ui, .game {
  position: absolute;
}